@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

body {
    font-family: 'Roboto Mono', monospace;
}

#canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: crosshair;
}

#top-left {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 1;
    color: #ffffff;
}

.control-button {
    border: none;
    background-color: rgba(0, 0, 0, 50%);
    margin: 0.5em 0;
    padding: 0.5em;
    font-size: 12pt;
    color: #ffffff;
}

#palette {
    background-color: rgba(0, 0, 0, 50%);
}

#palette div {
    padding: 0.7em 1.0em;
    cursor: pointer;
    font-size: 11pt;
}

button {
    cursor: pointer;
}

.cell-type-button {
    border: none;
    width: 1rem;
    height: 1rem;
}

/* from MDN */
kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

container {
    display:flex;
    justify-content:center;
    align-items:center;
}

#about {
    z-index: 2;
    display: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 95%);
    padding: 1em;
    font-size: 14px;
}


 #share {
    max-width: 40em;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: #ffffff;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 75%);
    padding: 1.0em;
    font-size: 14px;
}

#about.shown, #share.shown {
    display: initial;
}

a, a:visited {
    color: #ffffff;
}

.close {
    position: absolute;
    top: 1.0em;
    right: 1.0em;
    cursor: pointer;
}

.close:hover {
    text-decoration: underline;
}

#top-right {
    position: absolute;
    top: 1.0em;
    right: 1.0em;
    z-index: 1;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    color: #000000;
    font-family: inherit;
    border: none;
    background-color: rgba(255, 255, 255, 75%);
    padding: 0.5rem;
    outline: none;
}

#share-button {
    border: none;
    background: none;
    color: #ffffff;
    font-variant: small-caps;
    width: 100%;
    margin-top: 1.0em;
    padding: 0.5em;
}

h1 {
    font-weight: 500;
}
