<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Popular WireGame Circuits</title>
        <meta property="og:title" content="Popular WireGame Circuits">
        <meta property="og:description" content="View $NUM_CIRCUITS circuits on WireGame">
        <link rel="stylesheet" href="list.css">   
    </head>
    <body>
        <header>
            <span>Sort by: <a href="/circuits?sort=views">views</a> / <a href="/circuits?sort=cells">cells</a> / <a href="/circuits?sort=newest">newest</a></span>
            <a href="/"><button>+ Create your own!</button></a>
        </header>
        <div id="circuits">$CIRCUITS</div>
    </body>
</html>