<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Popular WireGame Circuits</title>
        <meta property="og:title" content="Popular WireGame Circuits">
        <meta property="og:description" content="View $NUM_CIRCUITS circuits on WireGame">
        <link rel="stylesheet" href="list.css">   
    </head>
    <body>
        <h1>Popular Circuits</h1>
        <p><a href="/">Create your own!</a></p>
        <div id="circuits">$CIRCUITS</div>
    </body>
</html>